.blog-body{
    height: 100vh;
    width: 100%;
}
.container{
    width: 85%;
    background-color: rgb(242, 242, 242);
    margin: auto;
    display: flex;
    flex-direction: column;
}
.box{
    display: flex;
    flex-direction: row;
}
.btn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin: 8px;
}
p,h1,h2,h3,h4{
    margin: 0;
}
.card{
    /* position: relative; */
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: 8px;
    width: 100%;
}

.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 100%;
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-title{
    padding-bottom: 8px;
}
#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
            animation: loading-bar-spinner 400ms linear infinite;
  }
  
  #loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border: solid 4px transparent;
    border-top-color: #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
  }
  
  @-webkit-keyframes loading-bar-spinner {
    0% {
      transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes loading-bar-spinner {
    0% {
      transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }